/* 
  #map-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: red solid;
    height: 70vh;
  } */

  /* .buttons{
    position: relative;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    border: pink solid;
  
  } */
  .startGame{
    padding-right: 10px;
  }
  
  